$vue_green: hsla(153, 50%, 48%, 1);
$vue_green_dark: hsla(211, 28%, 29%, 1);

//Bootstraps
$bs_blue: #007bff;
$bs_red: #cc0000;
$bs_orange: #ff8800;
$bs_green: #007e33;

$colors: (
  "blue": #0071c5,
  "indigo": #6610f2,
  "purple": #6f42c1,
  "pink": #e83e8c,
  "red": #ed1c24,
  "orange": #ffa300,
  "yellow": #f3d54e,
  "green": #c4d600,
  "teal": #20c997,
  "cyan": #00aeef,
  "white": #fff,
  "vue-green": hsla(153, 50%, 48%, 1),
  "vue-green-dark": hsla(211, 28%, 29%, 1),
  "gray": #6c757d,
  "gray-dark": #343a40,
  "primary": #0071c5,
  "secondary": #fff,
  "success": #c4d600,
  "info": #00aeef,
  "warning": #f3d54e,
  "danger": #ed1c24,
  "light": #f8f9fa,
  "dark": #343a40
);
@mixin btn-circle($color: #ccc, $size: 20px) {
  $selector: btn-circle;
  &.#{$selector} {
    border: 1px solid darken($color, 20%);
    background-color: $color;
    color: black;
    width: $size * 2;
    height: $size * 2;
    text-align: center;
    margin: 4px;
    font-size: $size;
    line-height: $size * 2;
    border-radius: $size;
    //box-shadow:2px 2px 4px hsla(0,0%,0%,1);
    transition: transform 0.1s ease-out, box-shadow 0.1s ease-out;
    &:hover {
      transform: scale(1.05);
      box-shadow: 1px 1px 2px hsla(0, 0%, 0%, 0.5);
      background-color: lighten($color, 3%);
      cursor: pointer;
    }
    &:active {
      transform: scale(1.02);
    }
    &:focus {
      outline: none;
    }
  }
} //cricle-btn end

@mixin flip-btn($width: auto) {
  $selector: btn-flip;
  &.#{$selector} {
    width: $width;
    transition: all 1s ease-in-out;
    &:hover {
      transform: rotateX(360deg);
    }
  }
} //flip end

@mixin rollover($size, $backgroundColor, $textColor) {
  $selector: rollover;
  .rollover {
    width: 2 * $size;
    height: $size;
    overflow: hidden;
    color: $textColor;
    text-align: center;
    &__container {
      background-color: $backgroundColor;
      transition: all 0.5s ease-in-out;
    }
    &:hover {
      .rollover__container {
        margin-top: -1 * $size;
        cursor: pointer;
      }
    }
    &__main {
      height: $size;
      line-height: $size;
      font-size: $size/2;
    }
    &__sub {
      height: $size;
      line-height: $size;
      font-size: $size/3;
    }
  }
} //rollover end

@mixin rotating-btn($width, $height, $color, $fontColor, $fontSize) {
  .rotating-btn {
    width: $width;
    height: $height;
    cursor: pointer;
    perspective: 500px;
    color: $fontColor;
  }
  .rotating-btn .rotating-btn__container {
    height: 100%;
    transform-style: preserve-3d;
    transition: 0.25s;
    position: relative;
    border: 1px solid blue;
    font-size: $fontSize;
  }
  .rotating-btn__container:hover {
    transform: rotateX(-90deg);
  }
  .rotating-btn__main,
  .rotating-btn__alt {
    width: 100%;
    position: absolute;
    box-sizing: border-box;
    border: ($height * 0.05) solid $color;
    line-height: ($height * 0.95);
    text-align: center;
    background-color: lighten($color, 20%);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .rotating-btn__main {
    transform: translate3d(0, 0, $height/2);
  }
  .rotating-btn__alt {
    transform: rotateX(90deg) translate3d(0, 0, $height/2);
  }
} //rotate_down end

@mixin spin-btn($color, $scale) {
  $selector: spin-btn;
  &.#{$selector} {
    border: none;
    background: none;
    color: $color;
    transition: transform 0.5s ease-out, color 0.7s ease-out;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      color: lighten($color, 10%);
      transform: rotate(360deg) scale($scale);
      cursor: pointer;
    }
  }
} //spin-btn end

@mixin zoom-btn($scale, $textColor: white, $backgroundColor: blue) {
  $selector: zoom-btn;
  &.#{$selector} {
    $shadow-color: black;
    box-shadow: 2px 2px 4px $shadow-color;
    transition: all 0.2s ease-in-out;
    color: $textColor;
    border: 3px solid darken($backgroundColor, 10%);
    background-color: $backgroundColor;
    &:hover {
      transform: scale($scale);
      box-shadow: 4px 4px 8px lighten($shadow-color, 20%);
    }
  }
} //zoom-btn end

@mixin corner-card($color, $width) {
  $gray: hsla(0, 0%, 80%, 1);
  $el: card;
  &.#{$el} {
    border: 1px solid $gray;
    background-color: white;
    width: $width;
    margin: 8px;
    padding: 2px;
    transition: box-shadow 0.2s ease-out;
    &:hover {
      box-shadow: 2px 2px 4px $gray;
    }
    .#{$el}__header {
      &__indicator {
        position: absolute;
        border-style: solid;
        border-width: 30px 30px 0 0;
        border-color: $color transparent transparent transparent;
      }
      &__text {
        text-align: center;
        font-weight: bold;
        line-height: 30px;
      }
    }
    .#{$el}__content {
      text-align: left;
      padding: 4px;
      font-size: 14px;
    }
  }
} //corner-card end

@mixin indicator-card() {
  $selector: indicator-card;
  &.#{$selector} {
    $color: darkgray;
    border: 1px solid darken($color, 20%);
    transition: all 0.2s ease-out;

    &:hover {
      box-shadow: 2px 2px 4px black;
    }
    .#{$selector}__header {
      background-color: darkgray;
      padding: 10px;
    }
    .#{$selector}__content {
      background-color: white;
      color: black;
      padding: 10px;
    }

    .circle {
      //@include circle-button(lightblue, 24px);
      float: right;
      margin-top: 16px;
    }
  }
} //indicator-card end

@mixin side-card($color, $titleSize, $width) {
  $gray: hsla(0, 0%, 80%, 1);
  $el: scard;
  &.#{$el} {
    display: flex;
    width: $width;
    border: 1px solid $gray;
    margin: 10px;
    background-color: white;
    .#{$el}__indicator {
      background-color: $color;
      width: $titleSize + ($titleSize/2px);
      overflow: hidden;
      text-overflow: ellipsis;

      &__text {
        color: white;
        font-weight: bold;
        font-size: $titleSize;
        margin-left: $titleSize + ($titleSize/8px);
        margin-top: 10px;
        transform: rotate(90deg);
        transform-origin: 0 0;
      }
    }
    .#{$el}__content {
      width: 100%;
      padding: 8px;
      text-align: left;
    }
  }
} //side-card end

@mixin drop_down_default($width: 200px, $color: green) {
  .dd {
    position: relative;
    .dd-title {
      color: white;
      background-color: $color;
      padding: 8px 4px;
      width: $width;
      margin: 0;
      //position:relative;
      font-size: 16px;
      text-transform: uppercase;

      &:before {
        content: "";
        display: block;
        border-top: 5px solid $color;
        border-left: ($width / 2) solid transparent;
        border-right: ($width / 2) solid transparent;
        position: absolute;
        top: 100%;
        z-index: 101;
      }
    }
    .dd-menu {
      padding: 0;
      border-left: 1px solid green;
      border-right: 1px solid green;
      border-bottom: 1px solid green;
      margin: 0;
      position: absolute;
      box-sizing: border-box;
      z-index: 99;
      width: 100%;
      width: $width;
      background: hsla(0, 0%, 92%, 0.98);
    }
    .dd-menu-item {
      height: 30px;
      overflow: hidden;
      line-height: 30px;
      cursor: pointer;
      opacity: 1;

      transition: 0.4s height cubic-bezier(0.73, 0.32, 0.34, 1.5),
        0.2s padding cubic-bezier(0.73, 0.32, 0.34, 1.5),
        0.2s margin cubic-bezier(0.73, 0.32, 0.34, 1.5), 0.2s background-color,
        0.2s 0.2s opacity;

      &:hover {
        background: rgba(0, 0, 0, 0.1);
      }
      &:first-child {
        margin-top: 10px;
      }
      &:last-child {
        margin-bottom: 10px;
      }
    }
  }

  .dd:not(:hover) {
    .dd-menu {
      border: none;
      background-color: hsla(0, 0, 85%, 1);
      .dd-menu-item {
        opacity: 0;
        height: 0;
        padding: 0;
        margin: 0;
        color: rgba(25, 25, 25, 0);
        transition: 0.5s 0.1s height, 0.5s 0.1s padding, 0.5s 0.1s margin,
          0.3s color;
        z-index: 99;
      }
    }
  }
} // drop_down end

@mixin classic_grid_layout() {
  .grid-container {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-gap: 0;
    .cell {
      color: white;
      text-align: center;
      padding: 10px;
      //background-color: hsla(153, 50%, 48%, 1);
      &.a,
      &.e {
        grid-column: 1/4;
      }
      &.b,
      &.c,
      &.d {
        height: 100%;
      }

      &.a {
        background-color: map-get($colors, "blue");
      }
      &.b {
        background-color: map-get($colors, "yellow");
      }
      &.c {
        background-color: map-get($colors, "red");
      }
      &.d {
        background-color: map-get($colors, "orange");
      }
      &.e {
        background-color: map-get($colors, "vue-green");
      }
    }
  }
} // classic_grid_layout end

@mixin leftColumnGrid() {
  .grid-container {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-gap: 2px;
    .cell {
      height: 50px;
      color: white;
      border: 1px solid lightgrey;
      text-align: center;
      background-color: hsla(153, 50%, 48%, 1);
      &.a {
        grid-column: 1/3;
        background-color: map-get($colors, "red");
      }
      &.b,
      &.c {
        height: 100%;
        background-color: map-get($colors, "yellow");
      }
      &.c {
        background-color: map-get($colors, "vue-green");
      }
    }
  }
} // leftColumnGrid end

@mixin draw_in($color, $text) {
  .draw-in {
    $stroke-dash: 400;
    $animation-speed: 1000ms;
    $dot-size: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__svg {
      width: 15em;
      height: 4em;
      animation: shadow 1s 2s linear forwards;
    }

    &__ads {
      fill: transparent;
      font-family: "Arial", Gadget, sans-serif;
      font-weight: bold;
      stroke-dashoffset: $stroke-dash;
      stroke-width: 2;
      stroke: $color;
      stroke-dasharray: $stroke-dash;
      animation: text + $text 3s linear forwards;
      font-size: 5em;
      box-shadow: 2px 2px 3px black;
    }

    &__presents {
      animation: go-up 1s 1s ease-in-out forwards;
      opacity: 0;
      color: #444;
    }

    &__dots {
      display: flex;
      justify-content: center;
    }

    &__dot {
      width: $dot-size;
      height: $dot-size;
      border: ($dot-size / 5) solid gray;
      border-radius: 50%;
      float: left;
      margin: 0 ($dot-size / 2);
      transform: scale(0);

      animation: fx $animation-speed ease infinite 2s;

      &:nth-child(2) {
        animation: fx $animation-speed ease infinite 2.3s;
      }
      &:nth-child(3) {
        animation: fx $animation-speed ease infinite 2.6s;
      }
    }
  }

  @keyframes shadow {
    0% {
      filter: none;
    }
    100% {
      filter: drop-shadow(1px 1px 4px #ccc);
    }
  }
  @keyframes go-up {
    from {
      transform: translateY(1em);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes text#{$text} {
    50% {
      stroke-dashoffset: 0;
      fill: transparent;
    }
    100% {
      stroke-dashoffset: 0;
      fill: lighten($color, 20%);
    }
  }
  @keyframes fx {
    50% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
} //draw_in end

@mixin intro(
  $scale: 1,
  $dot_color: orange,
  $ads_color: hsla(0, 0%, 27%, 1),
  $presents_color: hsla(0, 0%, 50%, 1)
) {
  $travel_distance: 235px;

  .intro {
    display: flex;
    align-items: flex-start;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2em * $scale;
    position: relative;

    &__travel-dot,
    &__dot1,
    &__dot2,
    &__dot3 {
      width: 10px * $scale;
      height: 10px * $scale;
      border-radius: 5px * $scale;
    }
    &__travel-dot {
      background-color: $dot_color;
      position: absolute;
      margin-top: 1em;
      animation: move-dot 1.5s ease-in-out forwards;
    }
    &__words {
      display: flex;
      align-items: flex-start;
      width: $travel_distance * $scale;
    }
    &__a,
    &__d,
    &__amp,
    &__s {
      font-weight: bold;
      opacity: 0;
      text-shadow: (2px * $scale) (4px * $scale) hsla(0, 0%, 83%, 0.7);
      color: $ads_color;
      animation: slide-down 0.2s ease-in-out forwards;
    }
    &__a {
      animation-delay: 0.1s;
    }
    &__d {
      animation-delay: 0.2s;
    }
    &__amp {
      animation-delay: 0.3s;
    }
    &__s {
      animation-delay: 0.4s;
    }

    &__presents {
      opacity: 0;
      animation: fade-in-presents 1s ease-in-out 0.5s forwards;
      margin: 0 10px;
      color: $presents_color;
    }

    &__dots {
      display: flex;
      justify-content: space-between;
      width: 40px * $scale;
    }

    &__dot1,
    &__dot2,
    &__dot3 {
      background-color: $dot_color;
      margin-top: 0.8em;
      opacity: 0;
      animation: jump 1s ease-in-out infinite;
    }

    &__dot1 {
      animation-delay: 1.44s;
    }
    &__dot2 {
      animation-delay: 1.54s;
    }
    &__dot3 {
      animation-delay: 1.64s;
    }
  }

  @keyframes slide-down {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes jump {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    50% {
      transform: translateY(-10px);
      opacity: 1;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes fade-in-presents {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes move-dot {
    0% {
      transform: translateX(0);
    }
    80% {
      transform: translateX($travel_distance * $scale);
      margin-top: 1em;
    }
    95% {
      transform: translateX($travel_distance * $scale);
      margin-top: 0.8em;
      opacity: 1;
    }
    100% {
      transform: translateX($travel_distance * $scale);
      margin-top: 0.8em;
      opacity: 0;
    }
  }
} //intro end

@mixin underlined_tabs() {
  .content > div {
    display: none;
    font-size: 14px;
    padding: 10px;
    height: 300px;
    border-bottom: 1px solid lightgray;
  }
  input {
    display: none;
  }
  label {
    display: inline-block;
    padding: 5px 10px;
    text-align: center;
    margin: 0 2px;
    border-bottom: 4px solid #bebebe;
    transition: all 0.2s ease-out;
  }
  label:hover {
    cursor: pointer;
    border-bottom: 4px solid $vue_green;
  }
  input:checked + label {
    border-bottom: 4px solid $vue_green;
  }

  #tab1:checked ~ .content .content1,
  #tab2:checked ~ .content .content2,
  #tab3:checked ~ .content .content3,
  #tab4:checked ~ .content .content4 {
    display: block;
  }
} //underlined_tabs end
